{% extends "layout.html" %}
{% block body %}

<h1 class="text-center mt-5">Add Books</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input name="book_title" class="form-control" placeholder="Book Name">
        </div>
        <div class="form-group">
            <input name="author_name" class="form-control" placeholder="Author Name">
          </div>

        <div class="form-group">
          <input name="isbn" class="form-control" placeholder="ISBN">
        </div>

        <div class="form-group">
            <input name="genre" class="form-control" placeholder="Genre">
          </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Book Collected Date</label>
            <input name="added_date" class="form-control" placeholder="Books Added Date">
          </div>

        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    
</div>

{% endblock  %}